{
    "presets": [
        "@babel/env",
        "@babel/typescript",
        "@babel/es2015",
        "@babel/es2016"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
