{
  "repositoryUrl": "https://github.com/ozantunca/elb-log-analyzer.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/npm",
  ]
}